Node_RED_flow.json
[
    {
        "id": "c472715.3394e9",
        "type": "server-state-changed",
        "z": "aaedadab.64274",
        "name": "lampa",
        "server": "7ae46279.48816c",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.br_ctrl1_lamp",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 450,
        "y": 320,
        "wires": [
            [
                "d0953649.9f5278"
            ]
        ]
    },
    {
        "id": "c1f2b815.dd5df8",
        "type": "server-state-changed",
        "z": "aaedadab.64274",
        "name": "hum",
        "server": "7ae46279.48816c",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "input_boolean.br_ctrl1_hum",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "habool",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 370,
        "y": 520,
        "wires": [
            [
                "39a9f13f.133abe"
            ]
        ]
    },
    {
        "id": "39a9f13f.133abe",
        "type": "mqtt out",
        "z": "aaedadab.64274",
        "name": "",
        "topic": "bedroom/controller1/output/humidifier",
        "qos": "",
        "retain": "",
        "broker": "bf3140bb.f9894",
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "a3553222.b0f08",
        "type": "mqtt out",
        "z": "aaedadab.64274",
        "name": "",
        "topic": "bedroom/controller1/output/plantlamp",
        "qos": "",
        "retain": "",
        "broker": "bf3140bb.f9894",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "3315133.435b6ec",
        "type": "mqtt in",
        "z": "aaedadab.64274",
        "name": "",
        "topic": "bedroom/controller1/temp",
        "qos": "0",
        "datatype": "auto",
        "broker": "bf3140bb.f9894",
        "x": 590,
        "y": 880,
        "wires": [
            [
                "c998fb28.a39858"
            ]
        ]
    },
    {
        "id": "6adc10cc.fb8d",
        "type": "mqtt in",
        "z": "aaedadab.64274",
        "name": "",
        "topic": "bedroom/controller1/hum",
        "qos": "0",
        "datatype": "auto",
        "broker": "bf3140bb.f9894",
        "x": 590,
        "y": 940,
        "wires": [
            [
                "4cce01ad.8fa33"
            ]
        ]
    },
    {
        "id": "c998fb28.a39858",
        "type": "ha-entity",
        "z": "aaedadab.64274",
        "name": "temp",
        "server": "7ae46279.48816c",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "br_temp"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 830,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "4cce01ad.8fa33",
        "type": "ha-entity",
        "z": "aaedadab.64274",
        "name": "hum",
        "server": "7ae46279.48816c",
        "version": 1,
        "debugenabled": false,
        "outputs": 1,
        "entityType": "sensor",
        "config": [
            {
                "property": "name",
                "value": "br_hum"
            },
            {
                "property": "device_class",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            },
            {
                "property": "unit_of_measurement",
                "value": ""
            }
        ],
        "state": "payload",
        "stateType": "msg",
        "attributes": [],
        "resend": true,
        "outputLocation": "",
        "outputLocationType": "none",
        "inputOverride": "allow",
        "x": 830,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d0953649.9f5278",
        "type": "function",
        "z": "aaedadab.64274",
        "name": "",
        "func": "if (msg.payload === \"below_horizon\")\n{\n    msg.payload = 1;\n}else if (msg.payload === \"on\")\n{\n    msg.payload = 1;\n}\nelse\n{\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "a3553222.b0f08"
            ]
        ]
    },
    {
        "id": "3dd884ca.242e5c",
        "type": "server-state-changed",
        "z": "aaedadab.64274",
        "name": "",
        "server": "7ae46279.48816c",
        "version": 1,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sun.sun",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "str",
        "haltifstate": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "outputs": 1,
        "output_only_on_state_change": true,
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "x": 400,
        "y": 220,
        "wires": [
            [
                "d0953649.9f5278"
            ]
        ]
    },
    {
        "id": "4b378bcb.0bdf94",
        "type": "bigtimer",
        "z": "aaedadab.64274",
        "outtopic": "",
        "outpayload1": "",
        "outpayload2": "",
        "name": "Big Timer",
        "comment": "",
        "lat": 0,
        "lon": 0,
        "starttime": "720",
        "endtime": "1320",
        "starttime2": 0,
        "endtime2": 0,
        "startoff": 0,
        "endoff": 0,
        "startoff2": 0,
        "endoff2": 0,
        "offs": 0,
        "outtext1": "1",
        "outtext2": "0",
        "timeout": 1440,
        "sun": true,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": true,
        "jan": true,
        "feb": true,
        "mar": true,
        "apr": true,
        "may": true,
        "jun": true,
        "jul": true,
        "aug": true,
        "sep": true,
        "oct": true,
        "nov": true,
        "dec": true,
        "day1": 0,
        "month1": 0,
        "day2": 0,
        "month2": 0,
        "day3": 0,
        "month3": 0,
        "day4": 0,
        "month4": 0,
        "day5": 0,
        "month5": 0,
        "day6": 0,
        "month6": 0,
        "day7": 0,
        "month7": 0,
        "day8": 0,
        "month8": 0,
        "day9": 0,
        "month9": 0,
        "day10": 0,
        "month10": 0,
        "day11": 0,
        "month11": 0,
        "day12": 0,
        "month12": 0,
        "d1": 0,
        "w1": 0,
        "d2": 0,
        "w2": 0,
        "d3": 0,
        "w3": 0,
        "d4": 0,
        "w4": 0,
        "d5": 0,
        "w5": 0,
        "d6": 0,
        "w6": 0,
        "xday1": 0,
        "xmonth1": 0,
        "xday2": 0,
        "xmonth2": 0,
        "xday3": 0,
        "xmonth3": 0,
        "xday4": 0,
        "xmonth4": 0,
        "xday5": 0,
        "xmonth5": 0,
        "xday6": 0,
        "xmonth6": 0,
        "xd1": 0,
        "xw1": 0,
        "xd2": 0,
        "xw2": 0,
        "xd3": 0,
        "xw3": 0,
        "xd4": 0,
        "xw4": 0,
        "xd5": 0,
        "xw5": 0,
        "xd6": 0,
        "xw6": 0,
        "suspend": false,
        "random": false,
        "randon1": false,
        "randoff1": false,
        "randon2": false,
        "randoff2": false,
        "repeat": true,
        "atstart": true,
        "odd": false,
        "even": false,
        "x": 480,
        "y": 620,
        "wires": [
            [
                "39a9f13f.133abe"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ae46279.48816c",
        "type": "server",
        "name": "Home Assistant",
        "addon": true
    },
    {
        "id": "bf3140bb.f9894",
        "type": "mqtt-broker",
        "name": "local",
        "broker": "192.168.0.17",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]